/* QFrame Styles */
QFrame#main_frame {
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}

/* QLabel Styles */
QLabel {
    font-size: 15px;
    color: #3f0;
}

/* QPushButton Styles */
QPushButton {
    background-color: #3f0;
    color: #121212;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}

QPushButton:hover {
    background-color: #313131;
    color: #aeaeae;
}


QListWidget {
    background-color: #313131;
    color: #3f0;
}
